h1 {
    text-align: center;
    font-size: 30px;
    border: 8px solid black;
    padding: 20px;
    margin-top: 0px;
    border-top: 0px;
    width: 500px;
    margin: auto;
}

div#image {
    display: flex;
}

div#c1 {
    text-align: center;
    width: 400px;
    margin: 100px;
}

div#c2 {
    text-align: center;
    width: 400px;
    margin: 90px;
}

div#c3 {
    text-align: center;
    width: 400px;
    margin: 100px;
}

h2 {
    font-family: 'Comforter', cursive;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Dosis', sans-serif;
}